<div
  class="container-fluid p-0"
  style="
    height: 80vh;
    background-image: url({{image}});
    background-repeat: no-repeat;
    background-size: cover;
  " 
>
  <div
    class="w-100 h-100 text-light d-flex flex-column justify-content-center align-items-center gap-4"
    style="background-color: #00000022"
  >
    <h1 style="font-size: 80px; text-shadow: 0px 0px 10px #00000033" class="fw-bold text-center">
      {{headline}}
    </h1>
    <p class="fw-bold h3" style="text-shadow: 0px 0px 10px #00000022">
      {{subline}}
    </p>
    <button class="btn btn-danger text-light rounded-5 px-5 py-2 mt-4">Request A Call</button>
  </div>
</div>
